<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coll Params</title>
</head>
<body>
    <main>
        <h1>Page avec collection de paramètres</h1>
        <hr>
        <p th:if="${params.isEmpty()}">Il n'y a pas de valeurs dans la collection !</p>
        <ul th:unless="${params.isEmpty()}">
            <li th:each="blabla : ${params}"><b>Paramètre: </b><span th:text="${blabla}"></span></li>
        </ul>
    </main>
</body>
</html>