<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${(mode.equals('details') ? 'View' : 'Add') + ' a Dog'}"></title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
    <header th:insert="~{home :: nav}"></header>
    <main class="container">
        <h1 th:text="${(mode.equals('details') ? 'View' : 'Add') + ' a Dog'}"></h1>
        <hr>
        <form action="#" th:action="@{/dogs/add}" method="post" th:object="${dog}">
            <input type="text" class="d-none" th:field="*{id}" readonly>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" class="form-control" th:field="*{name}" th:readonly="${mode.equals('details')}" th:required="${mode.equals('add')}">
            </div>
            <div class="mb-3">
                <label for="breed" class="form-label">Breed:</label>
                <input type="text" id="breed" class="form-control" th:field="*{breed}" th:readonly="${mode.equals('details')}" th:required="${mode.equals('add')}">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age:</label>
                <input type="number" min="0" max="50" id="age" class="form-control" th:field="*{age}" th:readonly="${mode.equals('details')}" th:required="${mode.equals('add')}">
            </div>
            <div class="text-end">
                <a th:if="${mode.equals('details')}" class="btn btn-secondary" th:href="@{/dogs}"><i class="bi bi-arrow-counterclockwise"></i> Return</a>
                <button th:unless="${mode.equals('details')}" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add a Dog</button>
            </div>
        </form>
    </main>
</body>
</html>