body, html {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        45deg,
        orange 15%,
        rgb(97, 13, 97) 85%,
        rgb(193, 79, 59)
    );

    & main {
        display: grid;
        grid-template: 1fr 3fr 7fr / 1fr;


        min-height: 600px;
        min-width: 400px;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 15px;
        
        background-color: rgb(44, 44, 44);
        color: white;
        font-family: monospace;
        text-align: center;

        > div:not(:last-child) {
            height: 150px;
            margin-block: 5px 25px;
            border-radius: 5px;
            overflow: hidden;
            background-color: rgb(193, 193, 255);

            display: grid;
            grid-template: 2fr 8fr / 1fr;

            > span {
                color: black;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 5%;
            }

            > span:last-child {
                font-size: 4rem;
            }
        }

        > div:last-child {
            height: 100%;
            display: grid;
            grid-template: repeat(5, 1fr) / repeat(4, 1fr);
            gap: 10px;

            > button {
                background-color: grey;
                border: none;
                color: white;
                font-family: monospace;
                font-size: 2rem;
                border-radius: 5px;
                transition: background-color 200ms ease;
            }

            > button:hover {
                background-color: rgb(94, 94, 94);
                cursor: pointer;
            }

            > button#equal {
                background-color: green;
                grid-column: 3 / span 2;
            }

            > button.operation-btn {
                background-color: rgb(239, 239, 239);
                color: black;
            }
            
            > button.operation-btn:hover {
                background-color: rgb(255, 255, 255);
            }

            > button#equal:hover {
                background-color: rgb(0, 147, 0);
            }

            > button#ac {
                background-color: rgb(181, 12, 12);
            }
            
            > button#ac:hover {
                background-color: rgb(213, 31, 31);
            }
        }
    }
}