<form action="#" (submit)="contactFormSubmitHandler($event)">
    <div>
        <label for="firstname">Firstname:</label>
        <input type="text" name="firstname" id="firstname" [(ngModel)]="firstname">
    </div>
    <div>
        <label for="lastname">Lastname:</label>
        <input type="text" name="lastname" id="lastname" [(ngModel)]="lastname">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" [(ngModel)]="email">
    </div>
    <div>
        <label for="phoneNumber">Phone number:</label>
        <input type="text" name="phoneNumber" id="phoneNumber" [(ngModel)]="phoneNumber">
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" [(ngModel)]="age">
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>
<hr>
<p *ngIf="contacts.length === 0; else elseblock">
    Il n'y a pas encore de contacts !
</p>
<ng-template #elseblock>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of contacts">
                <td>{{ c.id }}</td>
                <td>{{ c.firstname }}</td>
                <td>{{ c.lastname }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.phoneNumber }}</td>
                <td>{{ c.age }}</td>
                <td>
                    <button (click)="deleteContactHandler(c)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>