.background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0,0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    > .content {
        padding: 20px;
        height: min(600px, 60%);
        width: min(800px, 80%);
        box-sizing: border-box;
        
        background-color: white;
        border-radius: 20px;

        > .header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }

        > .footer {
            display: flex;
            justify-content: end;
        }
    }
}