body, html {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    & main {
        height: 600px;
        width: 60%;

        background-color: rgb(252, 211, 134);
        border-radius: 20px;
        overflow: hidden;

        -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5); 
        box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);

        display: grid;
        grid-template: 1fr / 2fr 8fr;

        color: white;
        font-family: monospace;

        > div {
            padding: 3vh 2vw;

            display: flex;
            flex-direction: column;
        }

        > div:first-child {
            background-color: rgb(118, 51, 25);

            > form {
                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-block: 2vh;

                    > input {
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid white;
                        color-scheme: dark;
                        font-size: 1.05rem;
                        padding-bottom: 5px;
                    }

                    > input:focus {
                        outline: none;
                    }

                    > button {
                        margin-left: auto;
                        padding: 1vh 1vw;
                        color: white;
                        background-color: orangered;
                        border-radius: 10px;
                        border: none;
                        font-weight: bold;
                        transition: transform 200ms ease,
                                    background-color 200ms ease;
                    }

                    > button:not([disabled]):hover {
                        background-color: rgb(255, 104, 49);
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                }
            }
        }

        > div:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;

            height: 100%;
            overflow-y: scroll;

            mask: linear-gradient(
                white 70%,
                transparent
            );

            -webkit-mask: linear-gradient(
                white 70%,
                transparent
            );
            
            > div {
                min-height: 100px;
                box-sizing: border-box;
                width: 90%;
                padding: 1vh 2vw;
                margin-block: 2vh;
                
                display: grid;
                grid-template: repeat(2, 1fr) / 8fr 2fr;

                background-color: rgba(255, 247, 195, 0.7);
                color: black;
                font-size: 1.3rem;
                border-radius: 15px;

                -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2); 
                box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);

                > span:first-child {
                    grid-row: 1 / span 2;
                }

                > button {
                    grid-column: 2;
                    border: none;
                    background-color: rgb(10, 10, 47);
                    border-radius: 15px;
                    padding: 5px 15px;
                    color: white;
                    font-weight: bold;
                    font-family: monospace;
                    transition: transform 200ms ease,
                                background-color 200ms ease;
                }

                > button:hover {
                    transform: scale(1.05);
                    background-color: rgb(25, 25, 77);
                    cursor: pointer;
                }
            }
        }

        ::-webkit-scrollbar {
            width: 5px;
        }
        
        ::-webkit-scrollbar-track {
            background: transparent;
        }
        
        ::-webkit-scrollbar-thumb {
            background: orangered;
            border-radius: 5px;
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(255, 89, 28);
        }
    }
}