<h1>Demo utilisations Pipes</h1>
<hr>
<ul>
  <li *ngFor="let pre of mesPrenoms">{{ pre | enMaj | lowercase}}</li>
</ul>

<div>Date du jour : <b>{{ today }}</b></div>
<div>Date du jour : <b>{{ today | date }}</b></div>
<div>Date du jour : <b>{{ today | date | uppercase}}</b></div>
<div>Date du jour avec format : <b>{{ today | date:'dd/MM/yyyy' }}</b></div>
<hr>
<input type="number" [(ngModel)]="howMany">
<hr>
<ul>
  <li *ngFor="let pre of mesPrenoms | sliceArray:howMany">{{ pre | enMaj }}</li>
</ul>
<hr>
<button (click)="onClickHandler()">Supprimer dernier prénom</button>